body {
  display: flex;
  justify-content: center;
}

.grandparent {
  background-color: red;
  height: 20rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent {
  background-color: blue;
  height: 12rem;
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child {
  background-color: yellow;
  height: 6rem;
  width: 6rem;
}
